
        .result-list{
            display: none;
        }
        .result-list a{
            display: block;
            padding: 6px 15px;
            font-size: 12px;
            color: #424242;
            text-decoration: none;

        }
        .result-list a:hover{
            background-color: aquamarine;
        }
        .search{
            border: 1px solid red;
        }
        input:focus{
            outline: none;
        }
        /*去掉浏览器自带的focus效果
        input:focus{
            outline: none;
        }
        */
    